html {
    background-color: gray;
    color: white;
    font-family: verdanna, sans-serif;
}
.titlepage {
    font-size: 32px;
}
.ingredients {
    font-size: 24px;
}

.description {
    font-size: 28px;
}

/*p{
    font-size: 24px;
}
*/

.steps {
    font-size: 24px;
}
.recipes{
    font-size: 24px;
}
.item1 :hover{
    background-color:blue;
    color:white;
}
.item2 :hover{
    background-color:blue;
    color:white;
}
.item3 :hover{
    background-color:blue;
    color:white;
}

.d1, .materials, .directions{
    font-size: 20px;
}

